
mat-form-field
  width: 100%

  input
    width: calc(100% - 2rem)

  mat-icon
    color: var(--mat-sys-primary)
    cursor: pointer

mat-tree
  button
    height: 1.5rem

  .branche
    display: flex
    flex-direction: row
    align-items: center
    cursor: pointer
