.mat-expansion-panel-header
  border-radius: initial

.mat-expansion-panel-header:not(hover)
  background-color: var(--mat-sys-primary) !important

.mat-expansion-panel-header:hover
  background-color: #00458f !important

div.conteneur
  display: flex

  div.ligne
    display: flex

    app-carte-entreprises, app-fiche-entreprise
      margin-top: 1rem

@media (orientation: landscape)
  div.conteneur
    div.ligne
      flex-direction: row

      app-carte-entreprises, app-fiche-entreprise
        width: calc(50vw - 2rem - 24px)

      app-carte-entreprises
        height: calc(100vh - 125px - 4rem)

      app-fiche-entreprise
        margin-left: 1rem

@media (orientation: portrait)
  div.conteneur
    div.ligne
      flex-direction: column

      app-carte-entreprises, app-fiche-entreprise
        width: calc(100vw - 2rem - 48px)

      app-carte-entreprises
        height: 50vh

      app-fiche-entreprise
        margin-top: 1rem
