@if (chargement()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

@if (!chargement()) {
  <form>
    <mat-icon [fontIcon]="icone()" [class]="icone()"></mat-icon>
    <mat-form-field>
      <mat-label>{{ 'components.entreprises.selecteur_commune.commune' | translate }}</mat-label>
      <input type="text"
             aria-label="commune"
             matInput
             [formControl]="rechercheCommune"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="commune => commune ? commune.nom : '' ">
        @for (commune of communesFiltrees(); track commune) {
          <mat-option [value]="commune">{{ commune.nom }} ({{ commune.codePostal }})</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <label>{{ 'components.entreprises.selecteur_commune.rayon' | translate : { rayon: rayon.value } }}</label>
    <mat-slider min="5" max="50" step="1" discrete [displayWith]="value => `${value}km`">
      <input matSliderThumb aria-label="rayon" [formControl]="rayon" (valueChange)="rayonModifie()">
    </mat-slider>
  </form>
}
