form
  display: flex
  flex-direction: row
  align-items: center

  mat-form-field
    margin-left: 1rem

  .error
    color: var(--mat-sys-error)

  label
    width: 12rem

  label, mat-slider
    margin-left: 2rem
