mat-card-content
  margin: 1rem

  div.ligne
    display: flex
    flex-direction: row

    label
      width: 15rem
      font-weight: bold
      flex-shrink: 0

    span
      a
        display: block
